.button-container {
    display: flex;
    justify-content: end;
}
.slds-modal__container {
    max-width: 50rem;
}
.slds-modal__content {
    height: 80vh;
}
.slds-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.slds-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.slds-modal_fullpage {
    height: 100%;
    width: 100%;
    max-width: none;
        max-height: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.slds-backdrop_open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
}

.html-content {
    white-space: pre-wrap;
    }
    
    .loader-holder {
        height: 60vh;
}
.body-container {
    padding-left: 50px;
    padding-right: 50px;
    background-color: gray;
}

.body-content {
    background-color: #ffff;
}

.content-container {
    height: 100%;
}

.custom-card {
    --slds-card-header-padding-top: 24px;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}
.text-editor {
    --slds-c-textarea-sizing-min-height: 62vh;
    }
    
    .slds-modal__container {
        min-width: 70vw;
    }
    
    .box {
        padding: 10px;
        /* Optional padding for better appearance */
        box-sizing: border-box;
        /* Include padding in the element's total width */
    }
    
    .box-2 {
        flex: 2;
        /* Take 2 parts of the available space */
    }
    
    .box-1 {
        flex: 1;
        /* Take 1 part of the available space */
        margin-left: 10px;
        height: 50vh;
        border-radius: 5px;
    
    }
    
    .box-container {
        display: flex;
        /* Enable flexbox layout */
        width: 100%;
        /* Full width of the parent */
    }
    
    .textAreaBody {
        --sds-c-textarea-sizing-min-height: 175px;
}